<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ukryta zawartość</title>
</head>
<body>

<div style="width: 300px; margin:auto">

    <img src="spring.png" alt="logo" height="100px"/><br>

    <h2>Ukryta strona</h2><br>
    <span>Zawartość tej strony jest dostępna tylko po zalogowaniu</span>

</div>
</body>
</html>